<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/gm9stack/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="gm9stack" />
      <add key="ClearTextPassword" value="d975e069cb42ebb766f217c93914d6d93f9bd83a" />
    </github>
  </packageSourceCredentials>
</configuration>